html { 
    background: url(https://images.pexels.com/photos/4397910/pexels-photo-4397910.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

main {
    text-align: center;
    text-align: top;
}

form {
    display: inline-block;
}