html { 
    background: url(https://images.pexels.com/photos/1640775/pexels-photo-1640775.jpeg?cs=srgb&dl=pexels-ella-olsson-1640775.jpg&fm=jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

main {
    text-align: center;
    text-align: top;
}

form {
    display: inline-block;
}

button {
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
    background: rgb(0, 0, 0);
    color: white;
    margin-left: 50px;
    vertical-align: middle;
}