html { 
    background: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1231&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

main {
    text-align: center;
    text-align: top;
}

h1 {
    text-align: bottom;
}

form {
    display: inline-block;
}

button {
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
    background: rgb(0, 0, 0);
    color: white;
    margin-left: 50px;
    vertical-align: middle;
}

p {
    display: inline-block;
    margin: auto;
    width: 100px;
    padding: 5px
}

.container div {
    padding: 1%;
    box-sizing: border-box;
    min-height: 1px;
}

.center-col {
    display: inline-block;  
    width: 28%;
    /* float: left; */
}